:root {
    --dark-blue: #1f0b3c;
    --pink: #f63085;
    --pink-lighter: rgb(255, 170, 209);
    --cream: #f6f7cd;
    --turquoise: #4ab8b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-blue);
    color: var(--cream);
    transition: 500ms ease;
    font-family: 'Kosugi Maru', sans-serif;
}

a {
    text-decoration: none;
    color: var(--pink-lighter);
}

a:hover {
    color: var(--pink);
}

header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    overflow: hidden;
    background: url(img/rebecca-oliver-483486-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    background: var(--pink-lighter);
    color: var(--dark-blue);
}

main>p {
    padding: 0 50px 50px 50px;
}

main>div {
    padding-bottom: 25px;
    max-height: 75vh;
    overflow: hidden;
}

article {
    /* display: flex;
    flex-flow: column wrap; */
    margin: 25px auto;
    width: 45%;
    padding: 50px;
    background: var(--pink)
}

article:first-of-type {
    order: 0;
}

article:nth-of-type(2) {
    order: 2;
}

article:nth-of-type(3) {
    order: 3;
}

img {
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: var(--cream);
    margin: 20px auto;
}

aside {
    border-left: 5px solid var(--cream);
    margin: 25px 10px;
    width: 20%;
    padding: 25px;
    float: right;
}

section {
    background: var(--pink-lighter);
    color: var(--dark-blue);
}

section>p {
    padding: 0 50px 10px 50px;
}

section>div {
    max-height: 75vh;
    overflow: hidden;
}

footer>ul {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-blue);
    list-style-type: none;
}

footer a {
    color: var(--pink-lighter);
    font-size: 12px;
}

footer>ul>li {
    width: 100px;
    text-align: center;
}

.menu {
    display: flex;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: var(--dark-blue);
    font-family: 'Bungee', cursive;
}

.menu>div:nth-of-type(2) {
    width: 70%;
    text-align: center;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
}

.article-img {
    clip-path: circle(30% at center);
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#container {
    display: flex;
    width: 75%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;
}

#logo {
    height: 50px;
}

/* Mobile Styles */

@media only screen and (max-width: 710px) {
    header {
        font-size: 100%;
    }
    .menu {
        font-size: 75%;
    }
    article {
        width: 100%;
    }
    main {
        padding-top: 25px;
    }
    main>div {
        display: none;
    }
    aside {
        float: none;
        margin: 25px auto;
        width: 90%;
    }
    .article-img {
        clip-path: circle(25% at center);
    }
    #container {
        width: 90%;
    }
}

/* Tablet Styles */

@media only screen and (min-width: 710px) and (max-width: 1024px) {
    body {
        background-color: var(--turquoise);
    }
    main>div {
        max-height: 50vh;
    }
    article {
        width: 45%;
    }
    .article-img {
        clip-path: circle(20% at center);
    }
    aside {
        float: none;
        margin: 25px auto;
        width: 90%;
    }
    #container {
        width: 90%;
    }
}